
<div class="m-auto"> 
  <mat-grid-list cols="5" rowHeight="3:1">
    <mat-card>
      <mat-card-content>{{title}}</mat-card-content>
    </mat-card>

    <mat-grid-tile><button (click) = "click7()" mat-button>7</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click8()" mat-button>8</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click9()" mat-button>9</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickAdd()" mat-button>+</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>Back</button></mat-grid-tile>

    <mat-grid-tile><button (click) = "click4()" mat-button>4</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click5()" mat-button>5</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click5()" mat-button>6</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickSottr()" mat-button>-</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>Ans</button></mat-grid-tile>

    <mat-grid-tile><button (click) = "click3()" mat-button>3</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click2()" mat-button>2</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "click1()" mat-button>1</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickMolt()" mat-button>x</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>M+</button></mat-grid-tile>

    <mat-grid-tile><button (click) = "click0()" mat-button>0</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>.</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>EXP</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickDiv()" mat-button>/</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>M-</button></mat-grid-tile>

    <mat-grid-tile><button mat-button>+-</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>RND</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickReset()" mat-button>AC</button></mat-grid-tile>
    <mat-grid-tile><button (click) = "clickResult()" mat-button>=</button></mat-grid-tile>
    <mat-grid-tile><button  mat-button>MR</button></mat-grid-tile>

  </mat-grid-list>
</div>